@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema claro */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tema escuro */
html.dark {
  --background: #171717;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
